{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'connect-create' %}" method="post" id="detail-post-body" class="container-fluid py-4">
    <div class="pb-4">
        <div class="col page-adress d-flex align-items-center justify-content-center">
          <a href="{% url 'home' %}">
            <p class="mb-0">TRANG CHỦ</p>
          </a>
          <span class="d-flex align-items-center"><img src="{% static 'icons/arrowRightBlack.svg' %}" class="w-100" alt="arrow"></span>
          <a href="{% url 'connects-list' %}">
            <p class="mb-0">KẾT NỐI</p>
          </a>
          <span class="d-flex align-items-center"><img src="{% static 'icons/arrowRightBlack.svg' %}" class="w-100" alt="arrow"></span>
          <p class="current-page">TẠO YÊU CẦU</p>
        </div>
    </div>

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
            <strong>Success!</strong> {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container detail-post-content">
        <div class="row py-4 post-user-info">
            <div class="col-lg-1"></div>
            <div class="col-lg-11 col-sm-8 col-12">
                <img src="{{ request.user.student.avatar.url }}" class="rounded-circle me-2" height="40px" width="40px" style="object-fit: cover;">
                {{ request.user.username }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12">
                <div class="mb-3">
                    <label for="forumName" class="form-label post-forum-title">Môn học</label>
                    <select class="form-select post-forum-text" name="subject" aria-label="Default select example">
                        <option selected value="">Chọn môn học</option>
                        {% for subject in subjects %}
                        <option value="{{ subject.pk }}">{{ subject.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="peopleNumber" class="col-form-label post-forum-">Giới hạn người tham gia</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="peopleNumber" name="max_people" class="form-control post-forum-text" aria-describedby="passwordHelpInline">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">
                <div class="mb-3">
                    <label for="forumDescription" class="form-label post-forum-title">Tiêu đề</label>
                    <input class="form-control post-forum-text" name="name" id="forumDescription" rows="5" cols="100%"></input>
                  </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">
                <div class="mb-3">
                    <label for="forumDescription" class="form-label post-forum-title">Nội dung yêu cầu</label>
                    <textarea class="form-control post-forum-text" name="description" id="forumDescription" rows="5" cols="100%"></textarea>
                  </div>
            </div>
        </div>
        <div class="row post-forum-text">
            <div class="col-sm-1"></div>
            <div class="col-sm-6 col-12 pb-4 d-flex">
                <a href="{% url 'connects-list' %}">
                <input type="submit" class="btn px-2 py-1 me-2 btn-outline-primary d-flex align-items-center" value="Đăng yêu cầu">
                </input>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
