{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div id="detail-post-body" class="container-fluid py-4">
    <div class="pb-4">
        <div class="col page-adress d-flex align-items-center justify-content-center">
          <a href="{% url 'home' %}">
            <p class="mb-0">TRANG CHỦ</p>
          </a>
          <span class="d-flex align-items-center"><img src="{% static 'icons/arrowRightBlack.svg' %}" class="w-100" alt="arrow"></span>
          <a href="{% url 'profile' %}">
            <p class="mb-0">HỒ SƠ</p>
          </a>
          <span class="d-flex align-items-center"><img src="{% static 'icons/arrowRightBlack.svg' %}" class="w-100" alt="arrow"></span>
          <p class="current-page">Yêu cầu của tôi</p>
        </div>
    </div>

    <div class="container detail-post-content">
        <div class="row pt-4">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 post-forum-title">
                {{ object.name }}
            </div>
        </div>
        <div class="row mt-2 post-forum-text">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4 d-flex category-and-tags-box">
            </div>
        </div>
        <div class="row mt-2 post-forum-text">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">
                {{ object.description }}
            </div>
        </div>
        <div class="row mt-2 post-forum-text">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">Giới hạn tham gia: {{ object.max_people }}</div>
        </div>
    </div>

    <div class="container mt-4 detail-post-content">
        <div class="row py-4 post-user-info">
            <div class="col-12 pb-4">
                <h5 class="d-flex align-items-center mb-3">Danh sách đã tham gia</h5>
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>ID connect</th>
                            <th>Người dùng</th>
                            <th>Họ và tên</th>
                            <th>Mã số sinh viên</th>
                            <th>Lớp</th>
                            <th>Thông tin liên hệ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for accepted_ticket in accepted_tickets %}
                        <tr>
                            <td>{{ accepted_ticket.pk }}</td>
                            <td>{{ accepted_ticket.student.user.username }}</td>
                            <td>{{ accepted_ticket.student }}</td>
                            <td>{{ accepted_ticket.student.code }}</td>
                            <td>{{ accepted_ticket.student.classroom }}</td>
                            <td><a style="color:peru;" href="#">email: {{ accepted_ticket.student.user.email }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container mt-4 detail-post-content">
        <div class="row py-4 post-user-info">
            <div class="col pb-4">
                <h5 class="d-flex align-items-center mb-3">Danh sách gửi yêu cầu</h5>
                {% if is_full %}
                <tr>Yêu cầu đã đủ số người tham gia</tr>
                {% else %}
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>ID connect</th>
                            <th>Họ và tên</th>
                            <th>MSSV</th>
                            <th>Lớp</th>
                            <th>Lời nhắn</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request_ticket in request_tickets %}
                        <tr>
                            <td>{{ request_ticket.connect.pk }}</td>
                            <td>{{ request_ticket.student }}</td>
                            <td>{{ request_ticket.student.code }}</td>
                            <td>{{ request_ticket.student.classroom }}</td>
                            <td>{{ request_ticket.message }}</td>
                            <td>
                                <a href="#">
                                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold text-decoration-none btn-accept" onclick="accepteConnect('{{ request_ticket.pk }}')" data-mdb-ripple-color="dark">
                                    Đồng ý
                                    </button>
                                </a>
                                <a href="#">
                                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold text-decoration-none btn-delete" onclick="closeConnect('{{ request_ticket.pk }}')" data-mdb-ripple-color="dark">
                                    Xóa yêu cầu
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    console.log('ok')
    function accepteConnect(idConnect) {
        let data = new FormData();
        data.append('accepted', true)

        let xhr = new XMLHttpRequest();
        xhr.open('PUT', '/api/connect/' + idConnect + '/' , true);
        xhr.onload = function () {
            if (xhr.status == 200) {
                alert('Thêm người tham gia thành công!!!');
                location.reload()
            }
        };
        xhr.send(data);
    }

    function closeConnect(idConnect) {
        let xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/api/connect/' + idConnect + '/' , true);
        xhr.onload = function () {
            if (xhr.status == 204) {
                alert('Xoá yêu cầu thành công!!!');
                location.reload()
            }
        };
        xhr.send();
    }
</script>
{% endblock content %}
