.page-adress > a, .page-adress > p {
    font-family: var(--font-text-header);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.188rem;
    text-align: left;
    margin-bottom: 0;
}

.current-page {
    color: #8E8E8E;
}

.news-header {
    font-family: var(--font-text-content);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.563rem;
    text-align: justify;
}

.news-share-button {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: #F7C906;
    padding: 0.188rem 0.438rem 0.563rem 0.438rem;
}

.detail-news-info {
    width: 60%;
}
.news-content {
    font-family: var(--font-text-content);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: justify;
    ;
}

.news-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto; /* Thêm khoảng trắng trên dưới và căn giữa ảnh */
}

.tags-news {
    font-family: var(--font-text-content);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: left;
}

.tags-button {
    background-color: #EDE8D4;
    padding: 0.375rem, 0.75rem, 0.375rem, 0.75rem;
    border-radius: 1.063rem;
    gap: 0.625rem;
    font-family: var(--font-text-content);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: center;
}

.news-share {
    position: absolute;
    z-index: 1000;
    margin-left: -5rem;
    margin-top: 0.875rem;
}

.news-main-image {
    max-width: 48.125rem;
    max-height: 22.813rem;
    object-fit: contain;
}
